body {
  background: #ddd;
}

.header {
  text-align: center;
}

.header h2 {
  font-family: cursive;
}

.container {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.logo {
  background-image: url('./img/be-the-center.png');
  width: 200px;
  height: 200px;
  background-size: 200px;
  display: inline-block;
}

.card {
  border: 1px solid #ddd;
  border-radius: 6px;
  background: white;
  padding: 10px 0 10px 0;
  margin: 10px;
  box-shadow: 10px 10px 20px gray;
}

.card-content {
  height: 260px;
  width: 200px;
  display: flex;
  justify-content: center;
}

.card-header {
  background-image: url('https://pixabay.com/static/uploads/photo/2013/07/12/12/01/suit-of-spades-145116_960_720.png');
  background-size: 30px;
  width: 30px;
  height: 30px;
}

.card-symbol {
  background-image: url('https://pixabay.com/static/uploads/photo/2013/07/12/12/01/suit-of-spades-145116_960_720.png');
  background-size: 100px;
  width: 100px;
  height: 100px;
}

.card-footer {
  background-image: url('https://pixabay.com/static/uploads/photo/2013/07/12/12/01/suit-of-spades-145116_960_720.png');
  background-size: 30px;
  width: 30px;
  height: 30px;
}

.card-symbol {
  align-self: center;
}

.card-footer {
  align-self: flex-end;
  transform: rotate(180deg);
}
