body {
  background: #ddd;
  background-image: url('http://telias.free.fr/textures_tex/wood/wood1.jpg');
}

.container {
  position: relative;
}

h1 {
  font-family: fantasy;
}

.card {
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0px 8px #000000;
  border-radius: 6px;
  margin: 10px;
}

.card-content {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 10px;
}

.card-content .card-symbol {
  background-image: url('./img/spade.png');
  width: 110px;
  height: 110px;
  background-size: 110px;
}

.card-content .card-header {
  background-image: url('./img/spade.png');
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.card-content .card-footer {
  background-image: url('./img/spade.png');
  width: 30px;
  height: 30px;
  background-size: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.translate-method {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.absolute-method {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -55px;
  margin-top: -55px;
}

.no-margins-method {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.flex-method {
  display: flex;
  justify-content: center;
}

.flex-method .card-symbol {
  align-self: center;
}

.flex-method .card-footer {
  position: relative;
  align-self: flex-end;
}
